header {
  width: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 108px;
  height: 108px;
  background: #efc47D;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header.sticky {
  position: fixed;
  top: 0;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background: #efc47D;
  text-align: left;
  padding-left: 20px;
}

.content {
  padding: 20px;
}

header.sticky + .content {
  padding-top: 102px;
}

footer {
  padding: 40px 0 20px 0;
}

.legend-item {
  display: block;
  padding:10px 0px;
}

.btn-pickup {
  color: #fff;
  background-color: #AC8553;
  border-color: #AC8553;
}

.btn-dropoff {
  color: #fff;
  background-color: #537AAC;
  border-color: #537AAC;
}

.label {
  font-size: 14px;
  font-weight: 400;
}

.annotation {
  border: 1px solid #dedede;
  padding: 5px;
}

#map > g > path {
  stroke: #fff;
  stroke-width: .5;
  stroke-dasharray: 1;
  fill: #afafaf; 
}

#neighborhoodPopover { 
  position: absolute;     
  text-align: center;         
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  color: #000;
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;
  opacity: 0;
  z-index: 3;
}
